@using SampleMvcApp.Models.Mauricio;
@model SampleMvcApp.Models.Mauricio.Consulta
@{
    ViewData["Title"] = "Familia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<h2>Familias</h2>

<HTML lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <style>

        #myInput {
            float: left;
            margin-right: 60px;
        }
    </style>
    @*<style>
            p {
                display: inline-block;
                width: 100px;
            }
        </style>*@

</head>
<div>
    <body>
        <div class="container">
            <div>
                <input class="form-control" id="myInput" type="text" placeholder="Search..">
                <button class="btn btn-primary  dropdown-toggle" type="button" data-toggle="dropdown">
                    Dropdown Example
                    <span class="caret"></span>
                </button>
            </div>
            <br>


            @foreach (SampleMvcApp.Models.Mauricio.Familia familia in Model.GetFamilias())
            {
                <div class="alert-info">

                    <p><strong>Nombre: </strong>@familia.GetNombre()</p>
                    <p><strong>Descripcion: </strong>@familia.GetDescripcion()</p>

                    @Html.ActionLink("Eliminar", "FamiliaEliminar", new { nombre = familia.GetNombre() })
                </div>
                <hr />




                @*<div class="alert-info">
                    <p><strong>Nombre: </strong>@familia.GetNombre()</p>
                    <p><strong>Descripcion: </strong>@familia.GetDescripcion()</p>
                    <HR size="10" width="70%" align="left">*@

            }


            <a class="btn btn-primary" href="#" role="button">Agregar</a>
        </div>
        <script>
    $(document).ready(function () {
                $("#myInput").on("keyup", function () {
                    var value = $(this).val().toLowerCase();
                    $("#myTable tr").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });</script>
        <script>
    $(document).ready(function () {
                $("#myInput").on("keyup", function () {
                    var value = $(this).val().toLowerCase();
                    $(".dropdown-menu li").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });</script>

    </body>
</div>
</HTML>
