@model IEnumerable<SampleMvcApp.Models.Mauricio.Categoria>
@{
    ViewData["Title"] = "ProductosAgregar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ProductosAgregar</h2>


@using (Html.BeginForm())
{

    <div class="form-horizontal">
        <h4>Producto nuevo</h4>
        <select name="cmbCategorias">
            @{
                foreach (SampleMvcApp.Models.Mauricio.Categoria item in Model)
                {
                    <option value="@item.GetNombre()">@item.GetNombre()</option>

                }
            }
        </select>
        <div class="form-group">
            <label for="txtCod">Código de producto</label>
            <input class="form-control" id="txtCod" name="txtCod" type="text" value="">
        </div>
        <div class="form-group">
            <label for="txtNombre">Nombre</label>
            <input class="form-control" id="txtNombre" name="txtNombre" type="text" value="">
        </div>
        <div class="form-group">
            <label for="txtDescripcion">Descripcion</label>
            <input class="form-control" id="txtDescripcion" name="txtDescripcion" type="text" value="">
        </div>
        <div class="form-group">
            <label for="txtPrecio">Precio</label>
            <input class="form-control" id="txtPrecio" name="txtPrecio" type="number" value="">
        </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Agregar" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
