@model IEnumerable<SampleMvcApp.Models.Mauricio.Servicio>
@{
    ViewData["Title"] = "Servicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Servicio</h2>

<p>
    @Html.ActionLink("Agregar Servicio", "ServiciosAgregar")
</p>
@foreach (SampleMvcApp.Models.Mauricio.Servicio item in Model)
{
    <div class="alert-info">
        <p><strong>Código: </strong>@item.GetCodigo()</p>
        <p><strong>Nombre: </strong>@item.GetNombre()</p>
        <p><strong>Descripcion: </strong>@item.GetDescripcion()</p>
        <p><strong>Precio: </strong>@item.GetPrecio()</p>
        @Html.ActionLink("Eliminar", "ServicioEliminar", new { id = item.GetCodigo() })
    </div>
    <hr />
}